#drag{
    -webkit-app-region: no-drag;
}

#container{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1 1 1 1;
}

#container nav{
    display: block;
    width: 100%;
    height: 30px;
    background-color: #333333;
    -webkit-app-region: drag;
    cursor: default;
}

#container nav #titleShown{
    width: 30%;
    height: 100%;
    line-height: 30px;
    color: #f7f7f7;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    padding: 0 0 0 1em;
    -webkit-app-region: no-drag;
}

#container nav #buttons{
    float: right;
    width: 150px;
    height: 100%;
    line-height: 30px;
    background-color: #222222;
    -webkit-app-region: no-drag;
}

#buttons #minimize, #buttons #maximize, #buttons #close{
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: #f7f7f7;
    transition: all ease-in-out .2s;
    cursor: default;
}

#buttons #minimize:hover, #buttons #maximize:hover{
    background-color: #333333;
}

#buttons #close:hover{
    background-color: #ff0000;
}